body.light .highlight .hll {
  background-color: #ffffcc;
}
body.light .highlight .c {
  color: #999988;
  font-style: italic;
} /* Comment */
body.light .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
} /* Error */
body.light .highlight .k {
  color: #000000;
  font-weight: bold;
} /* Keyword */
body.light .highlight .o {
  color: #000000;
  font-weight: bold;
} /* Operator */
body.light .highlight .cm {
  color: #999988;
  font-style: italic;
} /* Comment.Multiline */
body.light .highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
} /* Comment.Preproc */
body.light .highlight .c1 {
  color: #999988;
  font-style: italic;
} /* Comment.Single */
body.light .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
body.light .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
} /* Generic.Deleted */
body.light .highlight .ge {
  color: #000000;
  font-style: italic;
} /* Generic.Emph */
body.light .highlight .gr {
  color: #aa0000;
} /* Generic.Error */
body.light .highlight .gh {
  color: #999999;
} /* Generic.Heading */
body.light .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
} /* Generic.Inserted */
body.light .highlight .go {
  color: #888888;
} /* Generic.Output */
body.light .highlight .gp {
  color: #555555;
} /* Generic.Prompt */
body.light .highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
body.light .highlight .gu {
  color: #aaaaaa;
} /* Generic.Subheading */
body.light .highlight .gt {
  color: #aa0000;
} /* Generic.Traceback */
body.light .highlight .kc {
  color: #000000;
  font-weight: bold;
} /* Keyword.Constant */
body.light .highlight .kd {
  color: #000000;
  font-weight: bold;
} /* Keyword.Declaration */
body.light .highlight .kn {
  color: #000000;
  font-weight: bold;
} /* Keyword.Namespace */
body.light .highlight .kp {
  color: #000000;
  font-weight: bold;
} /* Keyword.Pseudo */
body.light .highlight .kr {
  color: #000000;
  font-weight: bold;
} /* Keyword.Reserved */
body.light .highlight .kt {
  color: #445588;
  font-weight: bold;
} /* Keyword.Type */
body.light .highlight .m {
  color: #009999;
} /* Literal.Number */
body.light .highlight .s {
  color: #d01040;
} /* Literal.String */
body.light .highlight .na {
  color: #008080;
} /* Name.Attribute */
body.light .highlight .nb {
  color: #0086b3;
} /* Name.Builtin */
body.light .highlight .nc {
  color: #445588;
  font-weight: bold;
} /* Name.Class */
body.light .highlight .no {
  color: #008080;
} /* Name.Constant */
body.light .highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
} /* Name.Decorator */
body.light .highlight .ni {
  color: #800080;
} /* Name.Entity */
body.light .highlight .ne {
  color: #990000;
  font-weight: bold;
} /* Name.Exception */
body.light .highlight .nf {
  color: #990000;
  font-weight: bold;
} /* Name.Function */
body.light .highlight .nl {
  color: #990000;
  font-weight: bold;
} /* Name.Label */
body.light .highlight .nn {
  color: #555555;
} /* Name.Namespace */
body.light .highlight .nt {
  color: #000080;
} /* Name.Tag */
body.light .highlight .nv {
  color: #008080;
} /* Name.Variable */
body.light .highlight .ow {
  color: #000000;
  font-weight: bold;
} /* Operator.Word */
body.light .highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
body.light .highlight .mf {
  color: #009999;
} /* Literal.Number.Float */
body.light .highlight .mh {
  color: #009999;
} /* Literal.Number.Hex */
body.light .highlight .mi {
  color: #009999;
} /* Literal.Number.Integer */
body.light .highlight .mo {
  color: #009999;
} /* Literal.Number.Oct */
body.light .highlight .sb {
  color: #d01040;
} /* Literal.String.Backtick */
body.light .highlight .sc {
  color: #d01040;
} /* Literal.String.Char */
body.light .highlight .sd {
  color: #d01040;
} /* Literal.String.Doc */
body.light .highlight .s2 {
  color: #d01040;
} /* Literal.String.Double */
body.light .highlight .se {
  color: #d01040;
} /* Literal.String.Escape */
body.light .highlight .sh {
  color: #d01040;
} /* Literal.String.Heredoc */
body.light .highlight .si {
  color: #d01040;
} /* Literal.String.Interpol */
body.light .highlight .sx {
  color: #d01040;
} /* Literal.String.Other */
body.light .highlight .sr {
  color: #009926;
} /* Literal.String.Regex */
body.light .highlight .s1 {
  color: #d01040;
} /* Literal.String.Single */
body.light .highlight .ss {
  color: #990073;
} /* Literal.String.Symbol */
body.light .highlight .bp {
  color: #999999;
} /* Name.Builtin.Pseudo */
body.light .highlight .vc {
  color: #008080;
} /* Name.Variable.Class */
body.light .highlight .vg {
  color: #008080;
} /* Name.Variable.Global */
body.light .highlight .vi {
  color: #008080;
} /* Name.Variable.Instance */
body.light .highlight .il {
  color: #009999;
} /* Literal.Number.Integer.Long */
